@model WebStore.Web.ViewModels.ProductViewModel

<div id="wrapperContent">
    <h2>@Resources.Resources.Details</h2>


    <input type="hidden" id="hiddenActionUrl" value="@Url.Action()" />

    @{
        if (@ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Message
            </div>

        }
    }
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Resources.Resources.Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Resources.Resources.Manufacturer
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manufacturer)
            </dd>
            <dt>
                @Resources.Resources.Price
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Resources.Resources.Size
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Size)
            </dd>

            <dt>
                @Resources.Resources.Image
            </dt>

            <dd>
                <img src="@Model.Image" />
            </dd>

            <dt>
                @Resources.Resources.ProductCode
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductCode)
            </dd>

            <dt>
                @Resources.Resources.Quantity
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Resources.Resources.InStock
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InStock)
            </dd>

            @Html.Hidden("productId", Model.ProductId, new { id = "hiddenProductId" })

        </dl>
    </div>

    @using (Ajax.BeginForm("AddToShoppingCart", null, new AjaxOptions
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "myCartSummary",

           }, new { id = "ajaxForm" }))
    {
        <input type="text" value="1" name="quantity" id="quantity1" />

        @Html.Hidden("id", Model.ProductId, new { id = "hiddenProductId" })
    <input type="submit" value=@Resources.Resources.AddToCart class="btn btn-default" />
    }

    <table class="table">
        <tr>
            <th>
                @Resources.Resources.Categories
            </th>
        </tr>

        @foreach (var item in Model.CategoryProductModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryViewModel.Title)
                </td>
            </tr>
        }

    </table>

    <p>
        @Html.ActionLink(@Resources.Resources.TopProducts, "TopProducts")
    </p>
</div>

