@model ProductIndexViewModel


<div id="">
    <h2>Products</h2>


    @{
        List<SelectListItem> languages = Model.LanguageSelectItems.ToList();
    }

    @using (Ajax.BeginForm("ProductList", null, new AjaxOptions
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "pagedListResult",

           }, new { id = "ajaxForm" }))
    {
        <input type="hidden" id="categoryHiddenId" name="id" value="@Model.CurrentCategoryId" />
        <input type="hidden" id="pageHidden" name="page" value="@Model.CurrentPage" />
    }
    <div>
        @using (Html.BeginForm("Index", "Store", FormMethod.Get, new { id = "myForm" }))
        {
            @Html.DropDownList("languageId", languages, new { id = "languagesSelect" })
            <input type="hidden" id="categoryHiddenId" name="id" value="@Model.CurrentCategoryId" />
            <input type="hidden" id="pageHidden" name="page" value="@Model.CurrentPage" />
        }
    </div>

    <div id="pagedListResult">
        @Html.Partial("_ProductList", Model.PagedProductViewModels)
    </div>
</div>

