@model ProductIndexViewModel

<div id="wrapperContent">

    @{
        List<SelectListItem> languages = Model.LanguageSelectItems.ToList();
    }

    @using (Html.BeginForm("TopProducts", "Store", FormMethod.Get, new { id = "topProductForm" }))
    {
        <div class="">
            @Html.DropDownList("languageId", languages, new { id = "languagesSelect" })
        </div>

    }

    <h2>Top Products</h2>


    <table class="table">
        <tr class="alert-info">
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopProductViewModels.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopProductViewModels.FirstOrDefault().Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.TopProductViewModels)
        {
            <tr>
                <td>
                    <img src="@item.Image" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId, languageId = item.LanguageId })
                </td>
            </tr>
        }
    </table>
</div>
<script>
    $("#languagesSelect").change(function () {
        $("#topProductForm").submit();
    });
</script>