@model ProductIndexViewModel

<div id="wrapperContent">

    
    <input type="hidden" id="hiddenActionUrl" value="@Url.Action()" />

    <h2>@Resources.Resources.TopProducts</h2>


    <table class="table">
        <tr class="alert-info">
            <th>

            </th>
            <th>
                @Resources.Resources.Name
            </th>
            <th>
                @Resources.Resources.Price
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.TopProductViewModels)
        {
            <tr>
                <td>
                    <img src="@item.Image" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink(@Resources.Resources.Details, "Details", new { id = item.ProductId, languageId = item.LanguageId })
                </td>
            </tr>
        }
    </table>
</div>
<script>
    $("#languagesSelect").change(function () {
        $("#topProductForm").submit();
    });
</script>